recursive-include src/tcat_data/schema *.json
include src/tcat_data/schema/VERSION
include STANDARD.md LICENSE LICENSE-DOCS CITATION.cff
recursive-include profiles *
recursive-include examples *.json
